<div class="container">
  <h1>Editing petrol record</h1>

  <%= render 'form' %>

  <%= link_to msrecords_path, class: "btn btn-info btn-sm" do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>
</div>
