<div class="container">
  <h1>Datajet!</h1>
  <p>Lets get your data through our datagate!</p>

  <div class="text-center">
    <%= link_to "/diesels", class: "btn btn-primary" do %>
      <i class="glyphicon glyphicon-list-alt"></i> Diesel Records
    <% end %>

    <%= link_to "/msrecords", class: "btn btn-primary" do %>
      <i class="glyphicon glyphicon-list-alt"></i> Petrol Records
    <% end %>
  </div>
  <center> Your data - Now Boarding!</center>
</div>
